<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Morneau Shepell Design System - Toast</title>
  <meta name="description" content="Morneau Shepell Design System - Toast">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/ms-system.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div class="krds-toast krds-brand-1" aria-live="polite" role="alert">
            <p>The toast information goes here. <a href="#" class="krds-link krds-link__light">Get Started Now</a></p>
        
            <a href="#" class="krds-closeToast krds-link krds-link__light" aria-label="close button">&times;</a>
        </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="toast.js"></script>
</body>
</html>
